# macOS
.DS_Store

# Object files
*.o

# Executables
secc*
!secc/
# *.exe

# Logs
*.log
output.txt

# Private keys
# *.key
# keys.log
# *.pem
# *.crt

# old Build directories
old_bineries/

# Markdown (optional)
*.md